.import-wizard {
  height: 100%;
  padding-left: 15px;
  padding-right: 15px;
  overflow-y: scroll;
  &::-webkit-scrollbar {
    width: 0;
    background: transparent;
  }

  .first-row {
    margin-top: 20px;
  }

  .logo-pane {
  //  background-color: rgba(238, 238, 238, 0.4);
  //  box-shadow: inset 0 -0.5px 0 0 #dddddd;
    text-align: center;


  }

  .full-logo {
    margin-top: 50px;
    margin-bottom: 50px;
  }

.version{
  margin-left: 10px;
  font-size: 12px;
  color:#000;
}

  .inline-label {
    color: #000;
    line-height: 3;
    font-size: 1.2rem;

    a {
      cursor: pointer;
    }
  }
  .inline-link {
    line-height: 3;
    font-size: 1.2rem;
  a {
      cursor: pointer;
    }
  }


  .inline-value {
    color: #333;
    line-height: 3;
    font-size: 1.2rem;

    .bolder {
      font-weight: bolder;
    }
  }

  .folder-action-icon {
    margin-left: 5px;
    cursor: pointer;
  }

  .link {
    line-height: 2;
  }

  .line-break {
    margin-top: 25px;
    padding-top: 10px;
    border-bottom: 1px solid #dddddd;
  }

  .btn-gray {
    background-color: #eeeeee;
  }

  .circle {
    border-radius: 50%;
    width: 25px;
    height: 25px;
    background-color: #999999;
    color: #fff;
    display: inline-block;
    text-align: center;
    margin-right: 10px;
    margin-top: -5px;
    vertical-align: middle;
    padding-top: 3px;
  }

  .page-title {
    margin-top: 30px;
    margin-bottom: 15px;
    color: #333333;
    font-size: 18pt;
  }

  .downloading,
  .downloaded {
    width: 100%;
  }

  .start-download {
    margin-top: 10px;
  }
  .help_icon{

    width: 24px;
    cursor: pointer;
    margin-left: 5px;
    margin-top: -1px;
    border: 0px solid;
    border-radius: 50%;
    padding: 2px;

  }
  .title_section{
    font-size: 14px;
    text-align: left;
    color: #3f5e99;

    }

  .warning-message {
    color: #721c24;
    margin-bottom: 15px;
    font-size: 16px;
  }

  .file-drop-zone {
    color: #989898;
    margin-top: 20px;
    padding: 20px;
      border: 3px dashed #8c8c8c;
    text-align: center;
    line-height: 50px;
    font-size: 16px;

  }


  .file-drop-zone-hover {
    color: #989898;
    margin-top: 20px;
    padding: 20px;
    border: 3px dashed #007bff;
    text-align: center;
    line-height: 50px;
    font-size: 16px;
    color: #007bff;
  }

  .selected-files {
    margin-top: 20px;
    list-style: none;
    padding-left: 0;
  }
  .import-title{
    //padding: 10px;
    //border: 0px solid grey;
  }
  .import-fieldset{
    min-width: 0;
    padding: 10px;
    margin-top: 15px;
    border: 1px solid #dee2e6 ;
    //padding: 10px;
    //border: 0px solid grey;
  }
  .import-legend{
    display: block;
    width: auto;
    max-width: 100%;
    padding: 0px 5px 0px 5px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight:normal;
    line-height: inherit;
    color: #999;
    white-space: normal;
  }
  .btn_import{
    width: 100%;

  }

}
.header_import_recolnat{
  margin:10px 10px 10px 10px ;
  text-align: center;
  button{
    float:right;
  }

}


