.rcn_image {
  height: 100%;
  width: 100%;
  color: #333333;

  .main-row {
    height: 100%;
  }

  .navigation {
    display: flex;
    height: 40px;
    text-align: center;
    box-shadow: inset 0 -0.5px 0 0 #dddddd;
    background: white;
  }

  .navigation-buttons {
    margin: auto;
  }

  .navigation-buttons > img {
    vertical-align: middle;
    margin-left: 2px;
    margin-right: 2px;
    cursor: pointer;
  }

  .navigation-title {
    margin: 0 20px;
    min-width: 500px;
    display: inline-flex;
    align-items: center;
  }

  .picture-wrapper {
    height: calc(100vh - 32px - 41px);
    width: 100%;
    display: grid;
    grid-template-columns: 310px auto;
  }
  .picture-wrapper-sub{
    overflow-y: overlay;
    overflow-x: hidden;
  }
  .highlight-ann {
    background-color: rgba(255, 253, 30, .30) !important;
  }

  .file-name-cat-number-container {
    display: inline-flex;
    flex-grow: 1;
    align-items: center;
    width: 400px;
  }

  .file-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    //width: 160px;
    display: inline-block;
    vertical-align: bottom;
    font-size: 14px;
    font-weight: bold;
  }

  .cat-number {
    font-size: 14px;
    color: #999;
    margin-left: 5px;
    margin-right: 5px;
  }

  .navigation-title-index {
    margin: 0px 0px 0px 5px;
    padding: 2px 5px;
    border-radius: 10px;
    background-color: #eee;
    color: black;
    min-width: 25px;
    margin-right: 5px;
    border: 1px solid #ccc;

  }

  .map-timeline-indicators-container {
    display: flex;
    align-items: center;
     img {
       height: 16px;
       margin-left: 3px;
       opacity: 0.7;
     }
  }

  .recording-ann {
    background-color: rgba(255, 0, 0, .30) !important;
  }
}
