.options {
  .options-form {
    margin-top: 30px;
    width: 100%;
    margin-left: 50px;

    .options-form-section {
      margin-left: 20px;
      margin-right: 50px;
      padding-bottom: 3px;
      margin-bottom: 10px;
      border: 1px solid #eee;
      .options-form-section-title {
        width: 100%;
        margin-bottom: 5px;
        padding-left: 20px;
        padding-right: 40px;
        background: #eee;
        display: flex;
        flex-direction: row;
      }
    }
  }

  .options-form-field-label{
    text-align: right;
  }
}
