.rcn_tags {
  height: 100%;
  width: 100%;
  border-right: solid 0.5px #dddddd;
  padding: 0 10px 0 10px;
  overflow-y: hidden;
  border-top: 1px solid #dee2e6;
  display: grid;
  grid-template-rows: 35px auto;
  &::-webkit-scrollbar {
    width: 0;
    background: transparent;
  }
  form .form-button {
    margin-left: 5px;
  }
  button {
    color: #333;
    background-color: #eee;
    border-color: #eee;
    display: flex;
  }
  button:focus {
    box-shadow: none;
  }
  .tags-filter-hint {
    color: #333;
    font-size: 15px;
    margin-top: 10px;
  }
  //.tags-filter {
  //  font-size: 14px;
  //  color: #ddd;
  //  margin-top: 10px;
  //  margin-bottom: 15px;
  //  input {
  //    margin-right: 10px;
  //  }
  //}
  .tags-badge {
    margin-top: 10px;
    padding: 3px 12px 3px 12px;
    background-color: #999;
    border-radius: 15px;
    color: #fff;
  }
  button > img {
    margin: auto 10px auto auto;
  }
  .tags {
    padding-top: 10px;
    height: calc(100%);
    //width: 305px;
    //height: 1000px;
    overflow-y: auto;
    //margin: 0;
    &::-webkit-scrollbar {
      width: 0;
      background: transparent;
    }
    .tag {
      margin: 4px 0 5px 0;
      .save-tag {
        margin-left: 10px;
      }
      .cancel-edit {
        margin-left: 10px;
      }
      .tag-name {
        cursor: pointer;
        font-family: HelveticaNeue;
        font-size: 10pt;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        letter-spacing: normal;
        margin-top: 4px;
        margin-left: 6px;
        display: inline-block;
        width: 85%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
      
      .tag-badge {
        margin-top: 4px;
        margin-right: 10px;
        float: right;
        font-size: 12px;
      }
      
      .tag-col {
        display: flex;
        cursor: pointer;
        color: #333333;
        
        .merge_icon {
          margin-right: 5px;
          margin-top: -1px;
        }
        
        .caret {
          cursor: pointer;
          float: right;
          margin-top: 6px;
          margin-right: 5px;
        }
        
        .caret-empty {
          width: 19px;
          float: right;
        }
        
        .tag-col-left {
          width: 100%;
          border-radius: 4px;
          background-color: #eeeeee;
          // height: 24px;
          color: #333333;
          margin-right: 1px;
          //display: flex;
          //flex-direction: column;
          //align-items: center;
        }
        
        .tag-col-right {
          width: 70px;
        }
        
        .selected-child {
          color: #fff;
          background-color: rgba(29, 112, 247, 0.55);
        }
        .selected {
          color: #fff;
          background-color: #1d70f7;
        }
      }
      
      .sub-tags {
        padding-left: 10px;
      }
      
    }
  }
  
  .tags-title {
    font-size: 17px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #000;
    background-color: #fff;
    border-right: 1px #ccc solid;
    .sort-icon {
      margin-right: 5px;
    }
  }
  
  .multi-selected-tag  .tag-col-left{
    border: 1px dashed red;
  }
  
  .root-hover {
    -webkit-animation: root-hover-blink 1s infinite;
  }
  
  .toogleCollapse {
    display: inline;
    text-align: left;
    margin-left: 5px;
    cursor: pointer;
  }
  .bold {
    font-weight: bold;
  }
  .tags-actions {
    //display: flex;
    text-align: right;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  .sort-dialog {
    width: 192px;
    height: 152px;
    border-radius: 4px;
    box-shadow: 0 8px 24px 0 rgba(51, 51, 51, 0.16);
    border: solid 1px #cccccc;
    background-color: #ffffff;
    position: absolute;
    top: 30px;
    right: 10px;
    z-index: 999;
  }
  .dialog-item {
    margin: 16px;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.23;
    letter-spacing: normal;
    color: #333333;
    cursor: pointer;
    img {
      visibility: hidden;
    }
  }
  .dialog-item-selected {
    color: #1d70f7;
    img {
      visibility: visible;
      float: right;
      margin-top: 4px;
    }
  }
  .keyword-action-panel{
    font-family: HelveticaNeue, serif;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #333333;
    margin-bottom: 5px;
  }
  .action-panel {
    font-family: HelveticaNeue, serif;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #333333;
    margin-bottom: 40px;
  }
  .form-check-input {
    margin-left: inherit;
  }
  .tagCheckBoxLabel{
    padding-top: 3px;
    padding-left: 16px;
    margin-bottom: 5px;
  }
  .tags-collapse {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    .not_visible{
      display: none;
    }
  }
  .tags-nb-images{
    margin: 5px 0px 15px 0px;;
    color: #1d70f7;
    font-weight: normal;
    font-style: normal;
    font-size: 12px;
  }
  .tags-number{
    line-height: 16px;
    text-decoration: underline;
  }
  .root-hover:before {
    content: '\21E7';
    height: 30px;
    text-align: center;
    width: 100%;
    display: inline-block;
    padding: 10px;
    position: sticky;
    top: 0px;
    background: white;
  }
  .root-hover:after {
    content: '\21E9';
    height: 30px;
    text-align: center;
    width: 100%;
    display: inline-block;
    padding: 10px;
    position: sticky;
    bottom: 0px;
    background: white;
  }
  .hidden{
    display: none;
  }
  .tags_nb_img_row{
  }
  .tags-filter {
    display: flex;
    flex-direction: column;
    background-color: #bfdeff;
    border-radius: 5px;
    padding: 5px;
    border: 1px solid #a2bedb;
    .tags-filter-header {
      display: flex;
      flex-direction: row;
      align-items: center;
      span {
        // margin-left: 5px;
        // margin-right: 5px;
      }
      i {
        font-size: 14px;
        padding: 0px 2px 0px 2px;
        color: black;
      }
      .btn {
        // padding: 0px 5px 0px 0px;
        padding: 0px 5px;;
        
        // font-size: 16px;
        vertical-align: center;
        i {
          color: rgb(46, 6, 116);
          font-size: 16px;
          // margin-right: 3px;
        }
      }
      .spacer {
        flex-grow: 1;
      }
      i.btn-remove-filter {
        color: red;
        cursor: pointer;
      }
    }

    .tags-filter-content {
      display: flex;
      margin-top: 5px;
      flex-wrap: wrap;
      align-items: center;
      .tags-filter-expression-container {
        margin-top: 0px;
        margin-bottom: 6px;
        margin-right: 5px;
        border-radius: 10px;
        background-color: white;
        position: relative;
        padding: 5px 7px 5px 5px;
        //border-left: 2px solid;
        //border-right: 2px solid;
        //border-radius: 8px;

        i {
          position: absolute;
          right: -7px;
          top: -5px;
          color: red;
          font-size: 14px;
          cursor: pointer;
          background-color: white;
          border-radius: 8px;
          padding: 2px;
        }
        .tags-filter-expression {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;

          .tags-filter-expression-brackets {
                /* min-height: 27px; */
              /* min-width: 20px; */
              display: flex;
              /* flex-direction: row; */
              flex-wrap: wrap;
              /* border-left: 2px solid; */
              /* border-right: 2px solid; */
              /* border-radius: 10px; */
              padding: 0px 4px;
              align-items: center;

            .tags-filter-expression-keyword {
              margin-top: 2px;
              background-color: orange;
              border-radius: 5px;
              border: 1px solid darkorange;
              padding: 3px;
              font-size: 12px;
            }

          }
        }
      }
      .dropdown {
        > button {
          background-color: white;
          color: black;
          font-size: 15px;
          font-weight: bold;
          padding: 0px 3px;
          margin-left: 3px;
          margin-right: 3px;
        }
        .dropdown-menu {
          min-width: unset;
          .dropdown-item {
            padding: 2px 5px;
          }
        }
      }
    }
  }
}
